<div ng-include="'views/navbar.html'"></div>

<div class="jumbotron front-hero">
  <div class='row center-block'><button id="Click" ng-click="artistAccount.displayBalance()" class="btn"><div class='song_name'>Update Balance</button><br>Current Balance: {{artistAccount.balance.balance}}</div>
  <h3>{{artistAccount.artistName}}</h3>
  <div>
    <flash:messages></flash:messages>
  </div>

  <div class='container'>
    <div class='row center-block'>
      <div ng-repeat='song in player.songList'>
        <div class='col-sm-4' ng-show="song.artist_id == artistAccount.artistId">
          <div class="track_container center-block"> <div class='song_name'> {{song.name}} </div><img class='img_click' ng-src='{{song.image}}'/></div>
        </div>
      </div>
    </div>
  </div>
</div>