<div ng-include="'views/navbar.html'"></div>

<div>
  <flash:messages></flash:messages>
</div>

<h2>User Sign In</h2>
<form name="login_form" ng-submit="account.sendFormSignin()" class="form-horizontal" role="form">
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-sm-offset-2 control-label">Email</label>
    <div class="col-sm-6">
      <input class='short_field' type="email" class="form-control" name="email" ng-model="account.email">
    </div>
  </div>
  <div class="form-group row">
    <label for="password" class="col-sm-2 col-sm-offset-2 control-label">Password</label>
    <div class="col-sm-6">
      <input class='short_field' type="password" class="form-control" name="password" ng-model="accout.password">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-offset-4 col-sm-10">
      <button type="submit" class="btn" ng-click="login.user=true">Log in</button>
    </div>
  </div>
</form>
