<div ng-include="'views/navbar.html'"></div>
<div class="jumbotron front-hero">

  <section class='main'>
      <div class='my_carousel' ng-controller="MyCarouselController as myCarousel">
         <div class='center_block'>
           <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
             <uib-slide ng-repeat="slide in myCarousel.slides track by slide.id" index="slide.id">
               <img ng-src="{{slide.image}}" style="margin:auto; height:300px;">
               <div class="carousel-caption">
                <h1>FairMuse</h1>
                <input id='search_bar' name="search_bar" type="text" ng-model="query" placeholder="search artist, genre, title...">
               </div>
             </uib-slide>
           </uib-carousel>
         </div>
       </div>
     </section>
     
      <div ng-repeat="song in player.songList | filter:query">
        <div class="track_container"> <img ng-src={{song.image}}/> <span>{{song.id}} {{song.name}} <button id={{song.songId}} ng-click="player.changeSource(song.songId)">Play {{song.name}}</button> </span>
        </div>
     </div>
 </div>