<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/">fairMuse</a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse" ng-controller='IndexCtrl as index' >
        <ul class="nav navbar-nav">
          <li class="active"><a href="#/" >Home</a></li>
          <li ng-show='!index.isArtist'><a ng-href="#/about">About</a></li>
          <li><a ng-show="!index.LoggedIn" ng-href="#/artistsignup">Artists Sign Up</a></li>
          <li><a ng-show="!index.LoggedIn" ng-href="#/artistsignin">Artist Sign In</a></li>
          <li ng-show="index.isUser"><a ng-href="#/useraccount">Account</a></li>
          <li ng-show="index.isArtist"><a ng-href="#/artistaccount">Account</a></li>
          <li ng-show="index.isArtist"><a ng-href="#/upload">Upload Sound</a></li>
          <li ng-show='!index.LoggedIn'><a ng-href="#/signup">Sign up</a></li>
          <li ng-show='!index.LoggedIn'><a ng-href="#/login">Log in</a></li>
          <li ng-show='index.isUser'><a id='log_out' ng-click="index.LogOut()">Log out</a></li>
          <li ng-show='index.isArtist'><a id='artist_log_out' ng-click="index.bob()">Log out</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
