$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.videogular-container {
    width: 400px ;
    height: 320px;
    margin: auto;
}

.videogular-container.audio {
    height: 50px;
}

@media (min-width: 1200px) {
    .videogular-container {
        width: 728px;
        height: 658.125px;
    }

    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 728px;
        height: 528.75px;
    }

    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 728px;
        height: 409.5px;
    }

    .videogular-container.audio {
        width: 728px;
        height: 50px;
    }
}